# Dependencies
node_modules/

# Turborepo
.turbo/

# Next.js
.next/
out/
build/
next-env.d.ts

# Testing & Coverage
coverage/
dev/

# Misc
.vscode
.DS_Store
*.pem

# Logs
npm-debug.log*

# Env files
.env*
!.env.example

# Vercel
.vercel/

# Typescript
*.tsbuildinfo

# Sentry Config File
.env.sentry-build-plugin

# Storybook
storybook-static/
